body.theme-documentation.dashboard h1#title-heading.with-breadcrumbs img.logo,body.theme-documentation.spaces h1#title-heading.with-breadcrumbs img.logo,body.theme-documentation.people h1#title-heading.with-breadcrumbs img.logo{margin-top:-10px;}
body.theme-documentation h1#title-heading.with-breadcrumbs img.logo,body.theme-documentation .space-logo img.logo{width:48px;height:48px;}
body.theme-documentation #space-list .space-logo img.logo{width:32px;height:32px;}
body.theme-documentation h1#title-heading.with-breadcrumbs .userLogoLink img.logo,body.theme-documentation h1#title-heading.with-breadcrumbs .space-logo img.logo{margin-top:0;}
body.theme-documentation #header .aui-header{float:none;}
body.theme-documentation #header br.clear{display:none;}
body.theme-documentation #footer{background-image:none;padding:0;margin:0;border-top:1px solid #ccc;}body.theme-documentation #footer .footer-body{padding:5px 10px;}
body.theme-documentation.login #footer{border-top:0;margin:20px 0;padding:0 0 65px 0;}
